<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
  <main>
    <section class="container">
      <mat-card
        *ngFor="let launch of pastLaunches"
        [routerLink]="['/', launch.id]"
      >
        <mat-card-header>
          <img
          appUiImageLoaded
          height="50"
          width="50"
          mat-card-avatar
          class="card-image"
          loading="lazy"
          [src]="launch.links.mission_patch_small"
          alt="Mission patch of {{ launch.mission_name }}"
          onErrorSrc="assets/images/placeHolder.png"
          loaderSrc="assets/images/loading.gif"
          />
          <mat-card-title>{{ launch.mission_name }}</mat-card-title>
          <mat-card-subtitle
            >{{ launch.rocket.rocket_name }} -
            {{ calculateDiffInDays(launch.launch_date_utc) }}</mat-card-subtitle
          >
        </mat-card-header>
        <img
        appUiImageLoaded
          height="300"
          width="300"
          mat-card-image
          class="card-image"
          loading="lazy"
          [src]="launch.links.flickr_images[0]"
          alt="Photo of {{ launch.mission_name }}"
          onErrorSrc="assets/images/placeHolder.png"
          loaderSrc="assets/images/loading.gif"
        />
        <img    
          loading-spinner
          class="loading-spinner"
          height="300"
          width="300"
          [src]="'assets/images/loading.gif'"
        />
      </mat-card>
    </section>
  </main>
</ng-container>
