<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <a class="header" routerLink=""> <i class="material-icons">arrow_back_ios</i> {{ launchDetails.mission_name }}</a>
  <section class="content">
    <mat-card style="width: 400px;">
      <mat-card-header>
        <mat-card-title>{{ launchDetails.mission_name }}</mat-card-title>
      </mat-card-header>
      <img
        height="256"
        width="256"
        mat-card-image
        [src]="launchDetails.links.mission_patch"
        alt="Mission patch of {{ launchDetails.mission_name }}"
      />
      <mat-card-content>
        <p>{{ launchDetails.details }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card style="width: 400px;">
      <mat-card-header>
        <mat-card-title>{{ launchDetails.mission_name }}</mat-card-title>
      </mat-card-header>
      <img
        height="256"
        width="256"
        mat-card-image
        [src]="launchDetails.links.flickr_images[current_image]"
        alt="Mission patch of {{ launchDetails.mission_name }}"
      />
      <mat-card-content>        
        <div slickContainer #slickController="slick" [slickConfig]="config">          
          <img slickItem 
            *ngFor="let pic of launchDetails.links.flickr_images; let index = index;"
            [src]="pic"
            alt="Picture of {{ launchDetails.mission_name }}"
            class="slick-image"
            (click)="current_image = index;"
          />          
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</ng-container>
