.photo-grid {
  padding-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}
.mat-card {
  cursor: pointer;
}
.card-image {
  display:none;
}
.image-loaded + .loading-spinner {
  display: none;
}
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
.mat-card-content img {
  margin-left: calc(50% - 120px);
  width: 240px;
  margin-top: 1px;
}
.mat-grid-tile .mat-card {
  margin: 0 10px;
}
